# haproxy.cfg
global
   # log stdout format raw

defaults
    log     global
    mode    http  # Set the default mode to HTTP
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    mode http  # Explicitly ensure HTTP mode
    bind *:8080
    default_backend http_back

#backend http_back
#    mode http  # Explicitly ensure HTTP mode
#    balance roundrobin
#    server web1 web1:5000 check inter 2000 rise 2 fall 3
#    server web2 web2:5000 check inter 2000 rise 2 fall 3
#    server web3 web3:5000 check inter 2000 rise 2 fall 3	

backend http_back
    balance roundrobin
    server web1 web1:5000 weight 1 check inter 2000 rise 2 fall 3
    server web2 web2:5000 weight 3 check inter 2000 rise 2 fall 3
    server web3 web3:5000 weight 2 check inter 2000 rise 2 fall 3	
